SetEnv APPLICATION_ENV development

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(assets)\/(ckeditor|js|css|img|ico)\/(.+)$ public/$1/$2/$3 [L]
RewriteRule ^(extras)\/(.+)\/(.+)$ public/$1/$2/$3 [L]
RewriteRule ^(js)\/(libs|mylibs)\/(.+)$ public/$1/$2/$3 [L]

RewriteRule ^(site)\/(style).css$ public/$1/$2.css [L]
RewriteRule ^(site)\/(fonts|css|js|imagens)\/(.+)$ public/$1/$2/$3 [L]
RewriteRule ^(site)\/(js|imagens)\/(apagar|libs|mylibs)\/(.+)$ public/$1/$2/$3 [L]

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d

RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]